*
{
	margin: 0;
	padding: 15;
	color: black;
	font: normal 20pt Times New Roman
	
}
#backgndinfo {font: normal 10pt
}

	div img {
    width: 450px;
    padding: 20px;
    border: 10px solid blue;
    margin: 5;
    text-wrap:normal;
}